/*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500;700&display=swap');*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&family=Manrope:wght@700&family=Roboto:wght@100;500;700&display=swap');

:root {
    --primary-color: #070e4c;
    --secondary-color: #DEDEDE;
    --accent-color: #59BEE9;
    --text-color: #B8B8B8;
    --link-color: #ffffff;
    --button-color: var(--secondary-color);

    --font-poppins: 'Poppins', sans-serif;
    --font-manrope: 'Manrope', sans-serif;
    --font-roboto: 'Roboto', sans-serif;
}

* {
    margin: 0;
    background-color: var(--primary-color);
}

/* Header */
header > nav {
    left: 0;
    top: 0;
    width: 100%;
    height: 4em;
    position: fixed;
    display: flex;
    align-items: center;
}

header a {
    font-family: var(--font-poppins);
    font-size: .7em;
    color: var(--link-color);
    text-decoration: none;
    margin: 1.4em;
    position: relative;
}

header a::before {
    content: "";
    background-color: var(--link-color);
    position: absolute;
    display: block;
    width: 100%;
    height: 1.5px;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}
  
a:hover::before {
    transform: scaleX(1);
}

header > nav > a:first-child {
    font-size: 0.9em;
    font-weight: 600;
    margin-right: auto;
}

header > nav > a:first-child::before, #nav-menu > a:last-child::before {
    display: none;
}

#nav-menu > a:last-child {
    border: 1px solid var(--link-color);
    border-radius: 1.8em;
    padding: 0.7em 2em;
    margin-right: 2em;
    transition: all 0.3s ease;
}

#nav-menu > a:last-child:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    cursor: pointer;
}

#nav-toggle {
    display: none;
}

/* About section */
#about {
    width: 75vw;
    max-width: 62em;
    margin: 0 auto;
    display: grid;
    padding-top: 10em;
}

#about h1 {
    font-family: var(--font-manrope);
    font-size: 2em;
    color: var(--secondary-color);
    grid-area: 1 / 1;
    margin-top: auto;
}

#about strong {
    color: var(--accent-color);
}

#about > p {
    font-family: var(--font-roboto);
    font-size: 1em;
    color: var(--text-color);
    grid-area: 2 / 1;
    margin-top: 1em;
}

#about > img {
    width: 100%;
    max-width: 20em;
    height: auto;
    grid-area: 1 / 2 / span 2 / span 1;
    margin-left: 1em;
}

/* Projects */
section > h2 {
    font-family: var(--font-roboto);
    font-size: 1.5em;
    font-weight: 700;
    color: var(--secondary-color);
    margin: 5em 0 2em;
}

article.project {
    display: grid;
    width: 75vw;
    text-align: left;
    max-width: 62em;
    margin: 3em auto;
    font-family: var(--font-roboto);
}

article.project > h3 {
    font-weight: 700;
    font-size: 1.3em;
    color: var(--secondary-color);
    grid-area: 1 / 1;
}

article.project > p {
    font-weight: 400;
    font-size: 1em;
    color: #959595;
    margin: 1em 0;
    grid-area: 2 / 1;
}

article.project.hidden {
    display: none;
}

article.project > ul.project-tags {
    list-style: none;
    padding: 0;
    display: flex;
    grid-area: 3 / 1;
}

article.project ul.project-tags li {
    font-weight: 500;
    font-size: 0.6em;
    color: black;
    background-color: var(--accent-color);
    padding: 0.5em 0.9em;
    border-radius: 2em;
    margin: 0.4em;
    height: fit-content;
}

#projects > button {
    font-weight: 600;
    font-size: 0.7em;
    color: var(--secondary-color);
    padding: 0.8em 1em;
    margin: 4em 0 0 0;
    border: 1px solid var(--secondary-color);
    border-radius: 2em;
    height: fit-content;
    transition: all 0.3s ease;
}

#projects > button:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    cursor: pointer;
}

.project-images {
    margin-left: 1em;
    padding: 0;
    grid-area: 1 / 2 / span 4 / span 1;

    width: 40vw;
    max-width: 25em;
}

.project-images * {
    background-color: transparent;
    border: none;
}

article.project a {
    margin-left: 0.25em;
    margin-top: 1em;
    grid-area: 4 / 1;
}

#projects {
    text-align: center;
    padding-top: .8em;
}


section#contact {
    text-align: center;
}

section#contact > a {
    margin: 0 0.8em;
}

/* Footer */
footer > p {
    font-family: var(--font-manrope);
    font-size: .7em;
    color: #c6c6c6;
    text-align: center;
    margin-top: 6em;
    margin-bottom: 2em;
}

/* Media Queries */
@media (max-width: 65em) {
    .project-images {
        width: 36vw;
    }
}

@media (max-width: 45em) {
    article.project {
        display: grid;
        grid-template-columns: 3fr 1fr;
    }
    
    article.project > h3 {
        grid-area: 1 / 1 / span 1 / span 1;
    
        justify-self: start;
    }
    
    article.project > p {
        grid-area: 4 / 1 / span 1 / span 2;
    }
    
    article.project > ul.project-tags {
        list-style: none;
        padding: 0;
        display: flex;
        margin-top: 2em;
        grid-area: 3 / 1 / span 1 / span 2;
    }
   
    .project-images {
        grid-area: 2 / 1 / span 1 / span 2;
        margin: 1em auto;
        width: 80vw;
    }

    article.project a {
        grid-area: 1 / 2;
        padding-left: 1em;
        margin: auto 0 auto auto;
    }
}

@media (max-width: 40em) {
    .project-images {
        width: 100%;
        height: 100%;
        min-width: 10em;
        min-height: 11em;
    }

    header > nav a::before {
        display: none;
    }

    #about {
        display: grid;
        margin-bottom: 1em;
    }

    #about > h1 {
        grid-area: 1 / 1;
        text-align: center;
    }

    #about > img {
        grid-area: 2 / 1;
        border-radius: 50%;
        width: 40%;
        margin: 1.4em auto;
    }

    #about > p {
        grid-area: 3 / 1;
    }
    
    header > nav {
        display: grid;
        align-items: normal;
        grid-template-columns: auto min-content;
    }

    header > nav > a:first-child {
        grid-area: 1/1;
    }

    #nav-toggle {
        display: block;
        grid-area: 1/2;
        display: block;
        cursor: pointer;
        border: none;
        padding: 0;
        margin-top: 1em;
        margin-right: 1em;
    }

    #nav-toggle > i {
        color: white;
    }

    #nav-menu {
        display: none;
        position: absolute;
        right: .8em;
        grid-area: 2 / 1 / span 1 / span 2;
        flex-direction: column;
        background-color: white;
        width: 10em;
        border-radius: .2em;
        padding: .4em 0;
    }

    #nav-menu.open {
        display: flex;
    }

    header > nav > #nav-menu a, header #nav-menu > a:last-child {
        text-align: center;
        background-color: white;
        border-radius: .3em;
        color: var(--primary-color);
        margin: 0;
        padding: 1.1em 3em;
        transform: none;
        transition: none;
    }

    header > nav > #nav-menu a:hover {
        background-color: var(--secondary-color);
        margin: 0 .4em;
    }
}

@media (max-width: 25em) {
    #nav-menu {
        width: 90vw;
        margin: 0 auto;
        left: 0;
        right: 0;
    }
}
