@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500;700&display=swap');

* {
    margin: 0;
    background-color: #070e4c;
}

section > h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.6em;
    color: #DEDEDE;
    margin: 5em 0 2em;
    text-align: center;
}


header > nav {
    left: 0;
    top: 0;
    width: 100%;
    height: 4em;
    position: fixed;
    display: flex;
    flex-direction: row;    
    align-items: center;
}

header a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 0.7em;
    color: #ffffff;
    align-self: center;
    margin: 1.2em;
}

header > nav > a:first-child {
    font-size: 0.9em;
    margin-left: 2em;
    margin-right: auto;
    font-weight: 600;
}

header #nav-menu > a:last-child {
    border: 1px solid #ffffff;
    border-radius: 1.8em;
    padding: 0.7em 2em;
    margin-right: 2em;
}

#nav-toggle {
    display: none;
}


#about {
    width: 75vw;
    max-width: 62em;
    margin: 0 auto;
    display: grid;
    padding-top: 10em;
    margin-bottom: 1em;
}

#about > h1 {
    font-family: 'Manrope', sans-serif;
    font-size: 2em;
    color: #DEDEDE;
    grid-area: 1 / 1;
    margin-top: auto;
}

#about strong {
    color: #59BEE9;
}

#about > p {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    color: #B8B8B8;
    grid-area: 2 / 1;
    margin-top: 1em;
}

#about > img {
    max-width: 100%;
    height: auto;

    grid-area: 1 / 2 / span 2 / span 1;
    margin-left: 1em;
}

article.project {
    display: grid;
    width: 75vw;
    text-align: left;
    max-width: 62em;
    margin: 0 auto;
}

article.project > h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.3em;
    color: #DEDEDE;
    grid-area: 1 / 1;
}

article.project > p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 0.9em;
    color: #959595;
    margin: 1em 0;
    grid-area: 2 / 1;
}

article.project > ul {
    list-style: none;
    padding: 0;
    display: flex;
    grid-area: 3 / 1;
}

article.project li,
#projects > button {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 0.6em;
    color: #DEDEDE;
    padding: 0.5em 0.9em;
    margin: 0.4em;
    border: 1px solid #DEDEDE;
    height: fit-content;
}

img.project-image {
    max-width: 100%;
    height: auto;

    margin-left: 1em;
    grid-area: 1 / 2 / span 4 / span 1;
}

article.project a {
    margin-left: 0.25em;
    margin-top: 1em;
    grid-area: 4 / 1;
}

#projects {
    text-align: center;
    padding-top: .8em;
}

#projects > button {
    margin-top: 4em;
}

#projects > button:hover {
    cursor: pointer;
}

section#contact {
    text-align: center;
}

section#contact > a {
    margin: 0 0.8em;
}

footer > p {
    font-family: 'Manrope', sans-serif;
    font-size: .7em;
    color: #c6c6c6;
    text-align: center;
    margin-top: 6em;
    margin-bottom: 2em;
}

@media (max-width: 40em) {
    #about {
        display: grid;
        margin-bottom: 1em;
    }

    #about > h1 {
        grid-area: 1 / 1;
        text-align: center;
    }

    #about > img {
        grid-area: 2 / 1;
        border-radius: 50%;
        width: 40%;
        margin: 1.4em auto;
    }

    #about > p {
        grid-area: 3 / 1;
    }

   
    article.project {
        display: grid;
        grid-template-columns: auto min-content;
    }
    
    article.project > h3 {
        grid-area: 1 / 1 / span 1 / span 1;
    
        justify-self: start;
    }
    
    article.project > p {
        grid-area: 4 / 1 / span 1 / span 2;
    }
    
    article.project > ul {
        list-style: none;
        padding: 0;
        display: flex;
        grid-area: 3 / 1 / span 1 / span 2;
    }
   
    img.project-image {
        grid-area: 2 / 1 / span 1 / span 2;
        margin: 1em auto;
        width: 100%;
    }

    article.project a {
        grid-area: 1 / 2;
        padding-left: 1em;
        margin: auto 0 auto auto;
    }
    
    header > nav {
        display: grid;
        align-items: normal;
        grid-template-columns: auto min-content;
    }

    header > nav > a:first-child {
        grid-area: 1/1;
    }

    #nav-toggle {
        grid-area: 1/2;
        display: block;
        cursor: pointer;
        border: none;
        padding: 0;
        margin-right: 1em;
    }

    #nav-menu {
        display: none;
        position: absolute;
        right: .8em;
        grid-area: 2 / 1 / span 1 / span 2;
        flex-direction: column;
        background-color: white;
        width: fit-content;
        border-radius: .2em;
    }

    header > nav > #nav-menu a, header #nav-menu > a:last-child {
        text-align: center;
        background-color: white;
        border-radius: .3em;
        color: #070e4c;
        margin: 0;
        padding: 1.1em 3em;
        text-align: center;
    }

    header > nav > #nav-menu a:hover {
        background-color: #DEDEDE;
    }
}
